<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="secondary" (click)="AddItem()">Añadir elemento</button>
  <button ion-button color="secondary" (click)="Quitar()">Quitar elemento</button>
  <button ion-button color="secondary" (click)="a()">rever</button>
  <ion-list no-lines>
    <button ion-item *ngFor="let item of listado">
      {{ item }}
    </button>
  </ion-list>

  <ion-card *ngFor="let item of listado; let i = index">
    <ion-card-header>
      {{ i + 1 }}
    </ion-card-header>
    <ion-card-content>
      {{ item }}
      <label *ngIf="i > 1">El index es mayor que 1</label>
    </ion-card-content>
  </ion-card>
</ion-content>